<div class="header">
    <!-- <mat-toolbar color="primary" class="example-toolbar"> -->
        <!-- <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button> -->
        <!-- <h1 class="example-app-name">Responsive App</h1> -->
    <!-- </mat-toolbar> -->
    <h1>EMS</h1>
    <div class="menus">
            <app-nav-menu *ngFor="let menu of allNavMenu" [NavMenu]="menu" (userLogoutEvent)="logout($event)"></app-nav-menu>
    </div>
    <!-- <button mat-button [matMenuTriggerFor]="menu">Home</button>        -->
    <!-- <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>     -->
</div>