.main{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
img{
    width: 95%;
    height: 400px;
    padding: 3%;
    margin: 0px auto;
    overflow: hidden;
}
h3{
    text-align: center;
    color: #c8c8c8;
}
a{
    color: #1b74c5;
}