@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* .example-sidenav-container {
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    flex: 1 0 auto;
  } */
  
  .example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-events {
    width: 300px;
    height: 200px;
    overflow: auto;
    border: 1px solid #555;
  }
  
  .mat-drawer-container{
      background-color: transparent !important;
      width: 15%;
  }

  .mat-drawer{
    background-color:rgba(0,0,0,.35);
  }
  
  .mat-list .mat-list-item:hover{
    background-color: #3f544f !important;
  }
  .mat-list .mat-subheader a{
    color: #c8c8c8 !important;
    text-decoration: none !important;
  }
  .mat-list .mat-subheader a:hover{
    background-color: #3f544f !important;
    color:#fff !important;
    text-decoration: none !important;
  }
  .mat-list .mat-list-item .mat-list-item-content{
    padding: 0px 6px !important;
  }