/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */
/* @import '~@angular/material/prebuilt-themes/pink-bluegrey.css'; */
/* @import '~@angular/material/prebuilt-themes/purple-green.css'; */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */

.mat-form-field.mat-focused .mat-form-field-label{
  /* color:  #40b940 !important; */
}
.mat-focused .mat-form-field-required-marker{
  color: red !important;
}
.radioBtn{
margin: 2% !important;
}
body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  background-color: #3f544f;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}
