<!-- <div class="nav-menu"> -->
  <!-- {{NavMenu}} -->
  <button mat-button *ngIf="NavMenu.default" [routerLink]="NavMenu.link" (click)="userLogout(NavMenu.event)">{{NavMenu.name}}</button>
  <!-- <button mat-button routerLink="/home">Home</button>
  <button mat-button routerLink="/about-us">About us</button>
  <button mat-button routerLink="/events">Events Corner</button>
  <button mat-button routerLink="/dashboard">Dashboard</button>
  <button mat-button routerLink="/register">Register</button>
  <button mat-button routerLink="/login">Login</button>  -->
<!-- </div> -->